
body {
    margin:auto;
}

nav a{
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

.success {
    background-color: rgb(41, 189, 73);
}
.danger {
    background-color: rgb(216, 59, 59);
}

.bug-preview a {
    color: lightskyblue;
}

.bug-preview span {
    color: gold;
}

main .app{
    min-height: 86vh;
}

.main-title {
    text-align: center;
    color:rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: aqua;
    font-size: large;
    cursor: pointer;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}


